@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --accent: #C9933A;
}

body {
  background-color: var(--background);
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #C9933A;
}

canvas {
  display: block;
}
